<h1>Editing message</h1>

<%= render "form", api_v1_message: @api_v1_message %>

<br>

<div>
  <%= link_to "Show this message", @api_v1_message %> |
  <%= link_to "Back to messages", api_v1_messages_path %>
</div>
